.x{

    border-radius: 10px;
    padding-top:15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:black;
}
table{
    border-radius:5px;

    border-color:black;
    }
#y {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 39px;
    margin-right: 39px;
    background-color:black;
     
 }
 .z{
    
    
    background-color: black;
    color:chartreuse;
    
 }
 .a{

    background-color: black;
    color:red;
 }